<div ng-controller="goodsController" class="goods">

    <span style="font-size: 20px; font-weight: bold;">Товары</span>
    <br><br>

    <span>Поиск</span> <input type="text" ng-model="goodsNameSearch">
    <br><br>

    <table border="1" cellspacing="2">
        <tr>
            <th ng-click="orderBy('title')">Название &uarr;&darr;</th>
            <th ng-click="orderBy('price')">Цена &uarr;&darr;</th>
            <th>&nbsp;</th>
        </tr>
        <tr ng-repeat="item in goods | orderBy : OrderName : OrderBy | filter : {title : goodsNameSearch } | limitTo : pageSize : currentPage * pageSize">
            <td>{{item.title}}</td>
            <td>{{item.price | currency }}</td>
            <td><input type="number" ng-init="goodsQuantity[item.Id]=0" ng-model="goodsQuantity[item.Id]" size="5" min="0"> <button ng-click="setBasket(item.Id, goodsQuantity[item.Id])">в корзину</button></td>
        </tr>
    </table>
    
    <br>

    <button ng-repeat="i in getNumberAsArray(numberOfPages(goods | filter : {title : goodsNameSearch })) track by $index" ng-click="setCurrentPage($index)">{{$index+1}}</button>

</div>